@model PracaInz.ViewModels.DevicesViewModels.DeviceListItemViewModel

 <div class="row">
     <div class="col-4">
         <h3 style="color: brown"> Producent: @Model.Manufacturer</h3>
         <h4 style="color: brown">Numer seryny: @Model.SerialNumber</h4>
         
     </div>
     <div class="col-4">
         <h4>@Model.Categories.FirstOrDefault()</h4>
     </div>
 </div>

 <div class="row">
     <div class="col-12">
         Czy na pewno chcesz usunac kategorie ?
     </div>
 </div>
<div class="row">
    <div class="col-3">
        <a class="btn btn-info float-right"asp-controller="Device" asp-action="Index">Nie</a>
    </div>
    <div class="col-3">
        <a class="btn btn-info float-right" asp-controller="Devices" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">Tak</a>
    </div>
</div>
