@model PracaInz.ViewModels.DevicesViewModels.DeviceListViewModel
@inject PracaInz.Services.NetworkDeviceServices NetworkDeviceService
@inject PracaInz.Services.DeviceServices DeviceService


<div class="row mt-1">
    <div class="col-12">
        <a class="btn btn-success float-right" asp-controller="Devices" asp-action="Add">Add device</a>
        <a class="btn btn-success float-right" asp-controller="NetworkDevices" asp-action="Add">Add network device</a>
    </div>
    <div class="col-2 float-right">
        
    </div>
    <div class="col-3 float-right">
        
    </div>

</div>
<hr />
<div class="row mt-5">
    <div class="col-12">
        <p style="text-align: center">All Devices</p>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12">
        <div class="devices" >
            @await Html.PartialAsync("~/Views/Devices/_Index.cshtml", DeviceService.GetAllDevices())
        </div>
        
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <p style="text-align: center">Network devices</p>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12">
        <div class="devices">
            @await Html.PartialAsync("~/Views/NetworkDevices/_Index.cshtml", NetworkDeviceService.GetAllDevices())
        </div>
        
    </div>
</div>

