@using PracaInz.BLL
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@inject PracaInz.Services.DeviceServices DeviceService
@inject PracaInz.Services.TicketServices TicketService
@inject SignInManager<User> SignInManager

<h1 style="text-align: center">Dashboard skurwielu</h1>

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-12">
            <p>Devices section</p>
        </div>

        @await Html.PartialAsync("~/Views/Devices/_Index.cshtml", DeviceService.GetAllDevices())

    </div>

    <div class="row pt-5">
        @await Html.PartialAsync("~/Views/Ticket/_Index.cshtml", TicketService.GetAllTickets())

    </div>
}
else
{
    <h2>Please sign in to see your dashboard</h2>
}




