@model PracaInz.ViewModels.CategoryViewModels.CategoryListItemViewModel
<div class="row">
    <div class="col-9">
        <h1 style="color: #dbc16c;">Tytuł: @Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        Do you really want to delete the category ?
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a class="btn btn-info float-right" asp-controller="Category" asp-action="Index">No</a>
    </div>
    <div class="col-6">
        <a class="btn btn-danger float-left" asp-controller="Category" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">Yes</a>
    </div>
</div>