@using Microsoft.AspNetCore.Identity
@using PracaInz.BLL
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <form method="post" asp-controller="Administration" asp-action="logout">
                <button type="submit" style="width:auto"
                        class="nav-link btn btn-link py-0">
                    Logout @User.Identity.Name
                </button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Administration" asp-action="Login">Login</a>
        </li>
    }
</ul>
