@model PracaInz.BLL.Role 
<div class="row">
    <div class="col-9">
        <h1 style="color: #dbc16c;">Tytuł: @Model.Name</h1>
    </div>

</div>
<div class="row">

    <div class="col-6">
        Lista osób: miejsce na wypisanie usterow // brak metody
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <p class="text-center">Czy na pewno chcesz usunac role ?</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a class="btn btn-info float-right" asp-controller="Administration" asp-action="IndexRole">Nie</a>
    </div>
    <div class="col-6">
        <a class="btn btn-danger float-left" asp-controller="Administration" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">TAK</a>
    </div>
</div>