@model PracaInz.BLL.User
<div class="row">
    <div class="col-9">
        <h1 style="color: #dbc16c;">Name: @Model.FirstName + @Model.LastName</h1>
    </div>

</div>
<div class="row mt-3">
    <div class="col-12">
        <p class="text-center">Do you really want to delete the user ?</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a class="btn btn-info float-right" asp-controller="Administration" asp-action="Index">No</a>
    </div>
    <div class="col-6">
        <a class="btn btn-danger float-left" asp-controller="Administration" asp-action="DeleteUserConfirmed" asp-route-id="@Model.Id">Yes</a>
    </div>
</div>