@model PracaInz.ViewModels.TicketViewModels.TicketListItemViewModel

 <div class="row">
     <div class="col-4">
         <h3 style="color: brown"> Ticket title: @Model.Title.</h3>
         <h4 style="color: brown">Ticket author: @Model.Author</h4>
         
     </div>
     
 </div>
<div>
    <div class="row">
        <h2>Message: @Model.Message</h2>
    </div>
</div>

 <div class="row">
     <div class="col-12">
         Do you really want to delete the ticket ?
     </div>
 </div>
<div class="row">
    <div class="col-3">
        <a class="btn btn-info float-right"asp-controller="Ticket" asp-action="Index">No</a>
    </div>
    <div class="col-3">
        <a class="btn btn-info float-right" asp-controller="Ticket" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">Yes</a>
    </div>
</div>
